#loading_screen{
    box-sizing: border-box;
    opacity: 0;
    z-index: 100;
    transition: 1s ease-in;
}

.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.bar {
    width: 10px;
    height: 70px;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow:5px 10px 20px inset var(--verde);
    animation: loader 1.2s linear infinite;
}
.bar1 {
    animation-delay: 0.1s;
}
.bar2 {
    animation-delay: 0.2s;
}
.bar3 {
    animation-delay: 0.3s;
}
.bar4 {
    animation-delay: 0.4s;
}
.bar5 {
    animation-delay: 0.5s;
}
.bar6 {
    animation-delay: 0.6s;
}
.bar7 {
    animation-delay: 0.7s;
}
.bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: none;
    }
    50% {
        transform: scaleY(1);
        background: $green;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}




.page {
    align-items: center;
    justify-content: center;
}

.usage {
    position: absolute;
    top: 40px;
    line-height: 50px;
    z-index: 1000;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    pointer-events: none;
}
  







//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// $loader-size:10vmin;

// .loader {
// animation: rotate 1s infinite;
// height: calc($loader-size / (50 / 50));
// width: calc($loader-size / (50 / 50));
// }

// .loader::before {
// animation: ball1 1s infinite;
// background-color: #fff;
// box-shadow: calc($loader-size / (50 / 30)) 0 0 $green;
// margin-bottom: calc($loader-size / (50 / 10));
// }
// .loader::after {
// animation: ball2 1s infinite;
// background-color: $green;
// box-shadow: calc($loader-size / (50 / 30)) 0 0 #fff;
// }
// .loader::before, .loader::after {
// border-radius: 50%;
// content: "";
// display: block;
// height: calc($loader-size / (50 / 20));
// width: calc($loader-size / (50 / 20));
// }

// @keyframes rotate {
// 0% { transform: rotate(0deg) scale(0.8) }
// 50% { transform: rotate(360deg) scale(1.2) }
// 100% { transform: rotate(720deg) scale(0.8) }
// }

// @keyframes ball1 {
// 0% {
//     box-shadow: calc($loader-size / (50 / 30)) 0 0 $green;
// }
// 50% {
//     box-shadow: 0 0 0 $green;
//     margin-bottom: 0;
//     transform: translate(calc($loader-size / (50 / 15)), calc($loader-size / (50 / 15)));
// }
// 100% {
//     box-shadow: calc($loader-size / (50 / 30)) 0 0 $green;
//     margin-bottom: calc($loader-size / (50 / 10));
// }
// }

// @keyframes ball2 {
// 0% {
//     box-shadow: calc($loader-size / (50 / 30)) 0 0 #fff;
// }
// 50% {
//     box-shadow: 0 0 0 #fff;
//     margin-top: calc($loader-size / (50 / -20));
//     transform: translate(calc($loader-size / (50 / 15)), calc($loader-size / (50 / 15)));
// }
// 100% {
//     box-shadow: calc($loader-size / (50 / 30)) 0 0 #fff;
//     margin-top: 0;
// }
// }