$green:rgb(22, 224, 107);
$gold: rgb(255,215,0);
$gray: rgb(80, 80, 80);
$dark-gray:rgb(12, 12, 12);
$light-gray:rgb(206, 206, 206);

$black:'CircularStd Black';
$bold:'CircularStd Bold';
$book:'CircularStd Book';
$mediu:'CircularStd Medium';
$light:'CircularStd Light';

@mixin absolute-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin exces_text{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
@function MINMAX($values) {
    @if not $values {
        @return auto;
    }
    $output:null;
    @each $value in $values{
        $output: $output + minmax(0,$value);
    }
    @return $output;
}
@mixin scrollbar($color, $background-color) {
    scrollbar-color: $color $background-color;
    scrollbar-width:thin;
    &::-webkit-scrollbar-track{
        background-color:$background-color;
    }

    &::-webkit-scrollbar{
        width: 8px;
        background-color: transparent;
        padding: 0;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $color;
    }
    &::-webkit-scrollbar-track-piece{
        display: none;
    }
    &::-webkit-scrollbar-corner{
        display: none;
    }
}
@mixin slider($height,$range-color,$ball-color,$ball-size){
    transition: 0.2s ease;
    #range{

    }
    #ball{

    }
}