@use '../var' as *;
$player_height: 10vh;
$menu_width: 30vmin;

$menu_rows_height: 3.5vmin;

$progress-bar-height:1vmin;
$plyer-main-icon: 4vmin;
$progress-handle:1.6vh;
$progress-handle-color:$green;
$progress-handle-color-active:white;
$progress-bar-color:$gray;
$progress-range-bar:$green;
$progress-range-bar-hover:white;
$progress-range-bar-active:$gold;

$player-picture:25vmin;

#app{
    display: grid;
    grid-template-columns: $menu_width minmax(0,1fr);
    grid-template-rows: minmax(0,1fr) $player_height;

    overflow: hidden;
    #menu{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        grid-column: 1/2;
        grid-row: 1/2;
        border-right:  0.4vmin $gray double;
        padding-left: 2vmin;
        padding-right: 2vmin;
        .block{
            display: block;
            height: 100%;
            width: 100%;
        }
        .row{
            display: grid;
            grid-template-columns: $menu_rows_height 1fr;
            grid-template-rows: $menu_rows_height;
            align-items: center;
            justify-items: flex-start;
            gap: 1.5vmin;

            padding-top: 2vmin;
            color: $gray;
            font-family: 'CircularStd Black';
            font-size: 2.2vmin;
            svg{
                height: 100%;
                width: auto;
                color: $gray;
            }

            &.active{
                color: $green;
                svg{
                    color: $green;
                }
            }
            
        }
        br{
            width:100%;
            margin: 1vmin;
        }
        hr{
            width:100%;
            margin-top: 3vmin;
            margin-bottom: 2vmin;
            height: 0.2vmin;
            border: none;
            background-color:$gray;
        }
        #playlists{
            display: block;
            overflow-y: auto;
            overflow-x: scroll;
            @include scrollbar($gray,black);
            .playlist{
                
                height: 3vmin;

                font-family: 'CircularStd Book';
                color: $gray;
                padding-bottom: 0;
            }
            .space{
                height: 200%;
            }
        }
        
    }
    #body{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;

        grid-column: 2/3;
        grid-row: 1/2;

        .view{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            display: block;

            overflow-y: scroll !important;
            overflow-x: hidden;
            &#home{
                background-image: linear-gradient( 225deg, hsl(0deg 0% 0%) 0%, hsl(143deg 22% 31%) 29%, hsl(143deg 57% 49%) 43%, hsl(143deg 57% 49%) 57%, hsl(143deg 22% 31%) 71%, hsl(0deg 0% 0%) 100% );
                #space{
                    height: 200%;
                }
                #new_releases{
                    display: grid;
                    width: 95%;
                    min-width: 80%;
                    height: 30vh;
                    max-height: 30vh;
                    grid-template-columns: minmax(0, 23vmin) minmax(0, 1fr)  minmax(0, 3fr);
                    grid-template-rows: minmax(0, 1fr)  minmax(0, 22vmin);
                    
                    margin: auto;
                    margin-top: 2vh;
                    border-radius: 3vh;
                    border: 0.4vmin solid white;
                    background-color: black;
                    padding: 2vh;
                    box-shadow: 0px 0px 4vh 1vh rgba(0,0,0,0.62);
                    h1{
                        grid-column: 1/3;
                        grid-row: 1/2;
                        font-size: 3vw;
                        color: $green;
                        
                        width: fit-content;
                        align-self: center;
                    }
                    #title{
                        grid-column: 2/3;
                        grid-row: 2/3;
                        font-size: 2.4vw;
                        color:white;
                        justify-self: flex-start;
                        *{
                            color: $gold;
                        }
                    }
                    #artist{
                        grid-column: 2/3;
                        grid-row: 2/3;
                        align-self: flex-end;
                        font-size: 1.4vw;
                    }
                    #prev,#next{
                        position: relative;
                        grid-column: 1/3;
                        grid-row: 1/2;
                        width: 4vh;
                        height: 4vh;
                        justify-self: flex-end;
                        align-self: center;
                        color: white;
                    }
                    #next{
                        right: 10vh;
                    }
                    #prev{
                        right: 4vh;
                    }
                    #img{
                        grid-column: 1/2;
                        grid-row: 2/3;
                        height: 100%;
                        width: auto;
                        aspect-ratio: 1/1;
                        -webkit-box-shadow: 8px -2px 12px 1px rgba(0,0,0,0.62);
                        -moz-box-shadow: 8px -2px 12px 1px rgba(0,0,0,0.62);
                        box-shadow: 8px -2px 12px 1px rgba(0,0,0,0.62);
                        border: 0.2vmin solid black;
                    }
                    #table{
                        grid-column: 3/4;
                        grid-row: 1/3;

                        display: grid;
                        grid-template: minmax(0,10%) minmax(0,90%)  / minmax(0,100%) ;
                        width: 100%;
                        height: 100%;
                        border: 0.4vmin solid black;
                        border-radius: 2vmin;
                        background-color: rgba(0,0,0,0.6);
                        box-sizing: border-box;
                        overflow: hidden;
                        #tbody{
                            grid-column: 1/2;
                            grid-row: 2/3;
                            border-top: none;
                            overflow-y: scroll;
                            overflow-x: hidden;
                            display: block;
                            width: 100%;
                            height: 100%;
                            max-height: 100%;
                            box-sizing: border-box;
                            .row{
                                padding-top: 0.2vmin;
                                padding-bottom: 0.2vmin;
                                transition: 0.2s;
                                color: black;
                                border-bottom: 0.3vmin dashed black;

                                align-items: center;

                                *{
                                    padding-right: 0.2vmin;
                                    
                                }
                                svg{
                                    height: 75%;
                                    color: white;
                                    opacity: 0;
                                    justify-self: center;
                                    transition: 1s;
                                }
                                &:hover{
                                    background-color: rgba(0,0,0,0.6);
                                    color: white;
                                    svg{
                                        opacity: 1;
                                    }
                                }
                                img{
                                    box-shadow: 0.4vmin 0.2vmin 0.6vmin black;
                                    padding: 0 !important;
                                }
                            }
                        }
                        #head{
                            height: 100% !important;
                            
                            box-sizing: border-box;
                            border-bottom: 0.4vmin solid black;
                            *{
                                color: $gold;
                                font-family: "CircularStd Bold";
                                font-weight: 1200;
                            }
                            svg{
                                height: 85%;
                                justify-self: center;
                            }
                            padding-right: 8px;
                        }
                        .row{
                            display: grid;
                            grid-template-columns: minmax(0,0.6fr) minmax(0,1fr) minmax(0,4fr) minmax(0,4fr) minmax(0,2fr) minmax(0,1fr);
                            grid-template-rows: minmax(0,1fr);
                            height: 15%;
                            width: 100%;
                            justify-items: flex-start;
                            align-items: center;
                            *{
                                max-height: 100%;
                                max-width: 100%;
                                text-overflow: ellipsis;
                                overflow:hidden;
                                white-space:nowrap;
                                font-size: 1.8vmin;
                                font-family: "CircularStd Bold";
                            }
                            img{
                                height: 100%;
                                max-height: 100%;
                                max-width: 100%;
                                aspect-ratio: 1/1;
                            }
                            #time{
                                justify-self: center;
                            }
                        }
                        svg{
                            height: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
            &#playlist{
                #head{
                    height: 35%;
                    width: 100%;
                    display: grid;
                    grid-template: 1fr 20vmin/20vmin 1fr;
                    gap: 2vmin;
                    padding: 4vmin;
                    box-sizing: border-box;
                    img{
                        grid-column: 1/2;
                        grid-row: 2/3;
                        box-shadow: 1vmin 1.5vmin 2vmin 1vmin rgba(0, 0, 0, 0.75);
                    }
                    #title{
                        grid-column: 2/3;
                        grid-row: 2/3;
                        font-size: 8vmin;
                        font-weight:900;
                        font-family: $bold;
                        align-self:center;
                        color: white;
                    }
                    #info{
                        grid-column: 2/3;
                        grid-row: 2/3;
                        font-size: 1.8 vmin;
                        align-self:flex-end;
                        #songs{
                            color: black;
                        }
                        #duration{
                            color:$gray;
                        }
                    }
                    
                }
                #body{
                    background: $dark-gray;
                    div{
                        color: $light-gray;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    #space{
                        height: 4vmin;
                        width: 100%;
                    }
                    #table{
                        width: 100%;
                        display: block;

                        .row{

                            height: 5.2vmin;
                            display: grid;
                            grid-template: 100%/1fr 2fr 9fr 9fr 9fr 2fr 2fr 2fr;
                            align-items: center;
                            box-sizing: border-box;
                            overflow: visible;
                            padding-top: 2vmin;

                            margin-left: 4vmin;
                            margin-right: 4vmin;
                            &#row-head{
                                div{
                                    color: $green !important;
                                    font-family: $light;
                                    font-size: 1.6vmin;
                                }
                                #title{
                                    grid-column: 2/4;
                                }
                                border-bottom: 0.2vmin solid $gray;
                                
                                
                            }
                            .icon{
                                justify-self: center;
                                height: 60%;
                                width: auto;
                                max-height: 100%;
                                aspect-ratio: 1/1;
                                overflow: visible !important;
                                transition: scale 0.5s ease-out;
                                &:hover{
                                    color: $green !important;
                                    scale: 1.3;
                                }
                            }
                            .heart{
                                grid-column: 6/7;
                            }
                            .trash{
                                opacity: 0;
                                color: $gray;
                                &:hover{
                                    color: rgb(128, 37, 37) !important;
                                }
                            }
                            .time{
                                justify-self: flex-end;
                            }
                            .play{
                                grid-column: 1/2;
                                grid-row: 1/2;
                                opacity: 0;
                                align-self: center;
                                justify-self: flex-start;
                                height: 75%;
                                margin-left: -15%;
                            }
                            .counter{
                                grid-column: 1/2;
                                grid-row: 1/2;
                                opacity: 1;
                            }
                            &:hover{
                                .play{
                                    opacity: 1 !important;
                                    &.full{
                                        opacity: 0 !important;
                                        &:hover{
                                            opacity: 1 !important; 
                                        }
                                    }
                                }
                                .counter{
                                    opacity: 0 !important;
                                }
                                .trash{
                                    opacity: 1 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #player{
        grid-column: 1/3;
        grid-row: 2/3;


        display: grid;
        grid-auto-flow: row;
        grid-template-columns: minmax(0,0.25fr) 1fr 3fr 1fr minmax(0,0.25fr);
        grid-template-rows: minmax(0,1fr) minmax(0,2fr) minmax(0,5fr) minmax(0,5fr) minmax(0,2fr);
        z-index: 2;
        *{
            z-index: 2;
        }
        color: white;
        #progress{
            grid-column: 1/6;
            grid-row: 1/2;

            width: 100%;
            justify-self: center;
            height: 100%;
            background-color: $progress-bar-color;
            
            // border-right: calc($progress-handle / 2) solid $progress-bar-color;
            transition: 0.2s ease;
            
            &:hover{
                // border-color: $progress-range-bar-hover !important;
                #handle{
                    
                    background-color: $progress-handle-color;
                    visibility: visible;
                    transform: scale(2);
                    transform-origin: center;
                }
                #range{
                    background-color: $progress-range-bar-hover;
                }
            }
            &:active{
                // border-color: $progress-range-bar-active !important;
                #handle{
                    background-color: $progress-handle-color-active;
                    visibility: visible;
                    transform: scale(2);
                    transform-origin: center;
                }
            }
            #handle{
                width: calc($progress-handle / 2);
                height: calc($progress-handle / 2);
                min-height: calc($progress-handle / 2);
                min-width: calc($progress-handle / 2);
                border-radius: 50%;
                margin-right: calc($progress-handle / -4);
                transition: 0.2s ease;
                visibility: hidden;
            }
            #range{
                background-color: $progress-range-bar;
                // min-width: calc($progress-handle / 2);
                // max-width: calc(100% - $progress-handle);
                min-width: 0;
                max-width: 100%;
                width: 0%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                transition: 0.4s ease-out;
                border-top-right-radius: 100vmax;
                border-bottom-right-radius: 100vmax;
                &.moving{
                    transition:none !important;
                    transition-delay: 0s !important;
                    background-color: $progress-range-bar-active;
                }
            }
        }
        #current_time,#total_time{
            color: white;
            font-size: 1.4vh;
            
            align-self: center;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 5%;
        }
        #total_time{
            grid-column: 5/6;
            grid-row: 2/3;
            justify-self: flex-end;
        }
        #current_time{
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: flex-start;
        }

        .block{
            grid-column: 3/4;
            grid-row: 3/5;
            display: flex;
            justify-content:center;
            align-items: center;
        }
        .center{
            padding-left: 1.6vw;
            padding-right: 1.6vw;
        }
        .icon{
            color:$gray;
            height: 80%;
            width: auto;
            max-width: 75%;
            &:hover{
                color: $green !important;
                transform: scale(1.2);
                transform-origin:center;
            }
            &.left_icon{
                height: 80%;
                width: auto;
                color: $gray;
                overflow: visible;
                justify-self: center;
                align-self: center; 
                &:hover{
                    scale: 1.1;
                }
            }
            &#full_heart,&#empty_heart{
                grid-column: 1/2;
                grid-row: 3/4;
            }
            &#add_to_playlist{
                grid-column: 1/2;
                grid-row: 4/5;
            }
            &#shuffle{
                height: 50% !important;
            }
            &#prev{
                
            }
            &#play{
                
            }
            &#pause{
                
            }
            &#next{
                
            }
            &#repeat{
                height: 55% !important;
            }
        }
        #title{
            grid-column: 2/3;
            grid-row: 3/4;

            padding-left: 1vh;
            font-family: $bold;
            font-weight: 900;
            font-size: 2.4vmin;
            align-self: center;
        }
        #artist{
            grid-column: 2/3;
            grid-row: 4/5;
            padding-left: 1vh;
            font-size: 2.2vmin;
            align-self: center;
        }
        #picture{
            grid-column: 5/6;
            grid-row: 1/2;
            position: relative;
            background-color: black;
            border-top: 0.4vmin double $gray;
            border-left: 0.4vmin double $gray;
            transform: translate(-100%,-100%);
            right: calc(-100% + 8px);
            width: $player-picture;
            height: $player-picture;
            transition: 1s;
            box-sizing: border-box;
            z-index: 1 !important;
            img{
                width: 100%;
            }
            &.close{
                border: none;
                height: 0px;
            }
            *{
                z-index: 1 !important;
            }
            &:hover{
                #close{
                    visibility: visible;
                }
            }
            #close{
                position: absolute;
                top: 4%;
                left: 4%;
                height: 10%;
                width: 10%;
                visibility: hidden;
            }
        }
        #mini_picture{
            grid-column: 4/5;
            grid-row: 3/5;

            position: relative;
            border: 0.2vmin solid $gray;
            height: 100%;
            aspect-ratio: 1 / 1;
            justify-self: flex-end;
            align-self: center;

            &.close{
                border: none;
                height: 0;
                img{
                    height: 0;  
                }
            }
            &:hover{
                #open{
                    visibility: visible;
                }
            }
            #open{
                position: absolute;
                top: 5%;
                left: 5%;
                height: 35%;
                width: 35%;
                visibility: hidden;
                transform: rotate(180deg);
                &:hover{
                    transform: scale(1.2) rotate(180deg);
                }
            }
        }
        #volume{
            grid-column: 4/5;
            grid-row: 3/5;

            align-self: center;
            width: 50%;
            height: 8%;
            position: relative;
            background-color: $progress-bar-color;
            border-radius: 100vmax;
            transition: 0.2s ease;
            
            &:hover{
                #handle{
                    
                    background-color: $progress-handle-color;
                    visibility: visible;
                    transform: scale(2);
                    transform-origin: center;
                }
                #range{
                    background-color: $progress-range-bar-hover;
                }
            }
            &:active{
                #handle{
                    background-color: $progress-handle-color-active;
                    visibility: visible;
                    transform: scale(2);
                    transform-origin: center;
                }
            }
            #handle{
                width: calc($progress-handle / 3);
                height: calc($progress-handle / 3);
                min-height: calc($progress-handle / 3);
                min-width: calc($progress-handle / 3);
                border-radius: 50%;
                margin-right: calc($progress-handle / -4);
                transition: 0.2s ease;
                visibility: hidden;
            }
            #range{
                background-color: $progress-range-bar;
                min-width: 0;
                max-width: 100%;
                width: 0%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                transition: 0.4s ease-out;
                border-radius: 100vmax;
                &.moving{
                    transition:none !important;
                    transition-delay: 0s !important;
                    background-color: $progress-range-bar-active;
                }
            }
            #number{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-100%);
                color: white;
                font-size: 1.6vmin;
            }
            .icon{
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%) rotate(180deg);
                margin-left: 0.2vmin;
                color: white;
                height: 3vmin;
                width: 3vmin;
            }
        }
    }
    #form_screen{
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 10;
        
        .form{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);

            display: grid;
            grid-template: minmax(0,1fr) minmax(0,4fr) auto minmax(0,1fr)/minmax(0,100%);
            height: 45vh;
            width: 35vmin;
            padding: 3vmin 4vh 3vmin 4vh;
            align-items: center;
            justify-items: center;
            
            background:$dark-gray;
            border: 0.5vmin solid $green;
            border-radius: 3vmin;
            
            #name{
                height: 50%;
                width: 100%;
                justify-self: center;
                align-self: center;
                margin-bottom: 2vh;
                input{
                    height: 100%;
                    width: 100%;
                    font-size: 2.8vmin;
                    text-align: center;
                    &::placeholder{
                        color: $dark-gray;
                    }
                    color: white;
                    background-color: $gray;
                    border-radius: 2vmin;
                    &:focus{
                        outline: 0.4vmin solid $green !important;
                        background-color: black;
                        color: white;
                    }
                }
            }
            #photo{
                input[type=file]{
                    display: none;
                }
                width: 100%;
                height: 100%;
                margin-bottom: 2vh;
                label{
                    #cover-photo{
                        font-size: 2vmin;
                        color: $green;
                    }
                    #optional{
                        font-size: 2vmin;
                        color: $gray;
                    }

                    width: 100%;
                    height: 100%;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    #upload{
                        width: 100%;
                        aspect-ratio: 1/1;
                        color: $gray;
                        transition: 0.1s ease-in;
                        &:hover{
                            color:$green !important;
                        }
                    }
                }
                
            }
            #uploaded_file{
                color:$gray;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                font-size: 1.6vmin;
                span{
                    color:$green;
                    font-size: 1.6vmin;
                }
            }
            input[type=submit]{
                justify-self: center;
                background-color: $green;
                border-radius: 2vmin;
                height: 50%;
                padding: 0 1vmin 0 1vmin;
                transition: 0.1s ease-in-out;
                &:hover{
                    scale:1.3;
                    font-weight: 900;
                    color: white;
                    background-color: $gold;
                }
            }
            
            
        }
    }
    img{
        position: relative;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit:cover;
    }
    svg{
        overflow: visible;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        max-width: fit-content !important;
        &:hover{
            color:$green !important;
            scale: 1.1;
        }
    }
}


// @import 'form_style';
// @import 'home';
// @import 'icons_style';
// @import 'main_menu_style';
// @import 'main_page';
// @import 'playlist_page';
// @import 'profile_page';
// @import 'style';
// @import 'volume_style';


