@font-face {
  font-family: "CircularStd Black";
  src: url(/static/fonts/CircularStd-Black.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Black Italic";
  src: url(/static/fonts/CircularStd-BlackItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Bold";
  src: url(/static/fonts/CircularStd-Bold.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Bold Italic";
  src: url(/static/fonts/CircularStd-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Book";
  src: url(/static/fonts/CircularStd-Book.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Book Italic";
  src: url(/static/fonts/CircularStd-BookItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Medium";
  src: url(/static/fonts/CircularStd-Medium.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Medium Italic";
  src: url(/static/fonts/CircularStd-MediumItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Light";
  src: url(/static/fonts/CircularStd-Light.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Light Italic";
  src: url(/static/fonts/CircularStd-LightItalic.woff) format("woff");
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
  font-size: 2vmin;
  font-family: "CircularStd Medium";
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-color: rgb(22, 224, 107) black;
  scrollbar-width: thin;
}
*::-webkit-scrollbar-track {
  background-color: black;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  padding: 0;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(22, 224, 107);
}
*::-webkit-scrollbar-track-piece {
  display: none;
}
*::-webkit-scrollbar-corner {
  display: none;
}

.screen {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.hide {
  display: none !important;
}

#login {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
#login ul {
  padding: 0;
  margin: 0;
  border: 0;
}
#login .main {
  width: 35vmin;
  height: 50vmin;
  background: rgb(13, 148, 53);
  overflow: hidden;
  background: #16e06a;
  border-radius: 2vmin;
  box-shadow: 1vmin 2vmin 4vmin #000;
  align-self: center;
  justify-self: center;
}
#login #chk {
  display: none;
}
#login .signup {
  position: relative;
  width: 100%;
  height: 100%;
}
#login label {
  color: black;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#login input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#login button {
  font-family: "Gantari", sans-serif;
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #16e06a;
  background: black;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
#login #login_button {
  background: #16e06a;
  color: black;
}
#login #login_button:hover {
  background: gold;
}
#login button:hover {
  background: gold;
  color: black;
}
#login .login {
  height: 460px;
  background: black;
  border-radius: 60%/10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
#login .login label {
  color: #16e06a;
  transform: scale(0.6);
}
#login #chk:checked ~ .login {
  transform: translateY(-500px);
}
#login #chk:checked ~ .login label {
  transform: scale(1);
}
#login #chk:checked ~ .signup label {
  transform: scale(0.6);
}
#login .main {
  -webkit-animation: slide-in-elliptic-top-fwd 2.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: slide-in-elliptic-top-fwd 2.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.area {
  position: absolute;
  background: radial-gradient(circle, #16e06a, #000);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#app {
  display: grid;
  grid-template-columns: 30vmin minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) 10vmin;
  overflow: hidden;
}
#app #menu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: 0.4vmin rgb(80, 80, 80) double;
}
#app #menu #options {
  position: absolute;
  top: 0;
  left: calc(100% + 0.4vmin);
  background-color: #000;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  border: 0.2vmin solid rgb(80, 80, 80);
  border-left: none;
  overflow: hidden;
  transition: 0.4s ease;
}
#app #menu #options > :first-child {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  box-sizing: border-box;
  height: 3vmin;
  width: 100%;
  padding: 0.6vmin;
  margin: 0;
  color: rgb(80, 80, 80);
  transition: 0.2s ease;
}
#app #menu #options > :first-child:hover {
  color: #751d1d !important;
}
#app #menu #options > :first-child:hover:active {
  color: red !important;
}
#app #menu #options .option-row {
  margin: 2.2vmin 3vmin 2vmin 3vmin;
  color: rgb(80, 80, 80);
  font-size: 2.2vmin;
  border-bottom: 0.1vmin solid rgb(80, 80, 80);
  letter-spacing: 0.2vmin;
  padding-bottom: 0.2vmin;
  width: fit-content;
  height: fit-content;
}
#app #menu #options .option-row:hover {
  color: rgb(22, 224, 107) !important;
}
#app #menu #options.close {
  pointer-events: none !important;
  transform: translateY(-100%);
  margin: 0;
  padding: 0;
  border: 0 !important;
}
#app #menu .block {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 2vmin;
  padding-right: 2vmin;
  box-sizing: border-box;
}
#app #menu .row {
  display: grid;
  grid-template-columns: 3.5vmin 1fr;
  grid-template-rows: 3.5vmin;
  align-items: center;
  justify-items: flex-start;
  gap: 1.5vmin;
  padding-top: 2vmin;
  color: rgb(80, 80, 80);
  font-family: "CircularStd Black";
  font-size: 2.2vmin;
}
#app #menu .row svg {
  height: 100%;
  width: auto;
  color: rgb(80, 80, 80);
}
#app #menu .row:hover {
  font-size: 2.3vmin;
  color: white;
}
#app #menu .row:hover svg {
  scale: 1.2;
  color: white;
}
#app #menu .row.active {
  color: rgb(22, 224, 107);
  pointer-events: none !important;
}
#app #menu .row.active svg {
  color: rgb(22, 224, 107);
}
#app #menu #dots {
  padding-top: 0.5vmin;
}
#app #menu #dots.open svg {
  color: white !important;
}
#app #menu #dots.open svg:active {
  color: #751d1d !important;
}
#app #menu #profile {
  padding-top: 0.5vmin;
}
#app #menu br {
  width: 100%;
  margin: 1vmin;
}
#app #menu hr {
  width: 100%;
  margin-top: 3vmin;
  margin-bottom: 2vmin;
  height: 0.2vmin;
  border: none;
  background-color: rgb(80, 80, 80);
}
#app #menu #playlists {
  display: block;
  overflow-y: auto;
  overflow-x: scroll;
  scrollbar-color: rgb(80, 80, 80) black;
  scrollbar-width: thin;
  margin-left: 2vmin;
  margin-right: 2vmin;
}
#app #menu #playlists::-webkit-scrollbar-track {
  background-color: black;
}
#app #menu #playlists::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  padding: 0;
}
#app #menu #playlists::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
}
#app #menu #playlists::-webkit-scrollbar-track-piece {
  display: none;
}
#app #menu #playlists::-webkit-scrollbar-corner {
  display: none;
}
#app #menu #playlists .playlist {
  height: 3vmin;
  font-family: "CircularStd Book";
  color: rgb(80, 80, 80);
  padding-bottom: 0;
}
#app #menu #playlists .playlist:hover {
  color: white;
}
#app #menu #playlists .playlist.active {
  color: rgb(22, 224, 107) !important;
  font-size: 2vmin !important;
  pointer-events: none !important;
}
#app #menu #playlists .playlist.active:hover {
  pointer-events: none !important;
}
#app #menu #playlists .space {
  height: 200%;
}
#app #menu #picture {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: black;
  width: 100%;
  height: 30vmin;
  transition: 1s ease;
  box-sizing: border-box;
  z-index: 1 !important;
  overflow: hidden;
}
#app #menu #picture img {
  width: 100%;
}
#app #menu #picture.close {
  border: none;
  height: 0px !important;
}
#app #menu #picture * {
  z-index: 1 !important;
}
#app #menu #picture:hover #close {
  visibility: visible;
}
#app #menu #picture #close {
  position: absolute;
  top: 4%;
  left: 4%;
  height: 10%;
  width: 10%;
  visibility: hidden;
  color: rgb(80, 80, 80);
}
#app #menu #picture #close:hover {
  color: rgb(22, 224, 107) !important;
  transform: scale(1.2);
  transform-origin: center;
}
#app #body {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}
#app #body .view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: scroll !important;
  overflow-x: hidden;
}
#app #body .view#home {
  background-image: linear-gradient(225deg, hsl(0deg, 0%, 0%) 0%, hsl(143deg, 22%, 31%) 29%, hsl(143deg, 57%, 49%) 43%, hsl(143deg, 57%, 49%) 57%, hsl(143deg, 22%, 31%) 71%, hsl(0deg, 0%, 0%) 100%);
}
#app #body .view#home #space {
  height: 200%;
}
#app #body .view#home #new_releases {
  display: grid;
  height: 30vh;
  max-height: 30vh;
  grid-template-columns: minmax(0, 23vmin) minmax(0, 1fr) minmax(0, 3fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 22vmin);
  background-color: black;
  padding: 2vmin;
  border-bottom: 0.4vmin double rgb(80, 80, 80);
}
#app #body .view#home #new_releases h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 3vw;
  color: rgb(22, 224, 107);
  width: fit-content;
  align-self: center;
}
#app #body .view#home #new_releases #title {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2.4vw;
  color: white;
  justify-self: flex-start;
}
#app #body .view#home #new_releases #title * {
  color: rgb(255, 215, 0);
}
#app #body .view#home #new_releases #artist {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-end;
  font-size: 1.4vw;
}
#app #body .view#home #new_releases #prev, #app #body .view#home #new_releases #next {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 4vh;
  height: 4vh;
  justify-self: flex-end;
  align-self: center;
  color: white;
}
#app #body .view#home #new_releases #next {
  right: 10vh;
}
#app #body .view#home #new_releases #prev {
  right: 4vh;
}
#app #body .view#home #new_releases #img {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  -webkit-box-shadow: 8px -2px 12px 1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 8px -2px 12px 1px rgba(0, 0, 0, 0.62);
  box-shadow: 8px -2px 12px 1px rgba(0, 0, 0, 0.62);
}
#app #body .view#home #new_releases #table {
  grid-column: 3/4;
  grid-row: 1/3;
  display: grid;
  grid-template: minmax(0, 10%) minmax(0, 90%)/minmax(0, 100%);
  width: 100%;
  height: 100%;
  border-radius: 0.5vmin;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  overflow: hidden;
}
#app #body .view#home #new_releases #table #tbody {
  grid-column: 1/2;
  grid-row: 2/3;
  border-top: none;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
#app #body .view#home #new_releases #table #tbody .row {
  padding-top: 0.4vmin;
  padding-bottom: 0.4vmin;
  transition: 0.2s;
  color: black;
  align-items: center;
}
#app #body .view#home #new_releases #table #tbody .row * {
  padding-right: 0.2vmin;
  color: white;
  text-shadow: 0.4vmin 0.3vmin 0.2vmin rgba(0, 0, 0, 0.5);
}
#app #body .view#home #new_releases #table #tbody .row svg {
  height: 75%;
  color: white;
  opacity: 0;
  justify-self: center;
  transition: 1s;
}
#app #body .view#home #new_releases #table #tbody .row:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
#app #body .view#home #new_releases #table #tbody .row:hover svg {
  opacity: 1;
}
#app #body .view#home #new_releases #table #tbody .row img {
  box-shadow: 0.4vmin 0.2vmin 0.6vmin black;
  padding: 0 !important;
}
#app #body .view#home #new_releases #table #head {
  height: 100% !important;
  box-sizing: border-box;
  border-bottom: 0.3vmin solid rgb(22, 224, 107);
  padding-right: 8px;
}
#app #body .view#home #new_releases #table #head * {
  color: rgb(22, 224, 107);
  font-family: "CircularStd Bold";
  font-weight: 1200;
}
#app #body .view#home #new_releases #table #head svg {
  height: 85%;
  justify-self: center;
}
#app #body .view#home #new_releases #table .row {
  display: grid;
  grid-template-columns: minmax(0, 0.6fr) minmax(0, 1fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 2fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 15%;
  width: 100%;
  justify-items: flex-start;
  align-items: center;
}
#app #body .view#home #new_releases #table .row * {
  max-height: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.8vmin;
  font-family: "CircularStd Bold";
}
#app #body .view#home #new_releases #table .row img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
}
#app #body .view#home #new_releases #table .row #time {
  justify-self: center;
}
#app #body .view#home #new_releases #table svg {
  height: 100%;
  max-height: 100%;
}
#app #body .view#playlist #head {
  height: 35%;
  width: 100%;
  display: grid;
  grid-template: 1fr 20vmin/20vmin 1fr;
  gap: 2vmin;
  padding: 4vmin;
  box-sizing: border-box;
}
#app #body .view#playlist #head img {
  grid-column: 1/2;
  grid-row: 2/3;
  box-shadow: 1vmin 1.5vmin 2vmin 1vmin rgba(0, 0, 0, 0.75);
}
#app #body .view#playlist #head #title {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 8vmin;
  font-weight: 900;
  font-family: "CircularStd Bold";
  align-self: center;
  color: white;
  text-shadow: 0.6vmin 0.2vmin 0.2vmin rgba(0, 0, 0, 0.5);
}
#app #body .view#playlist #head #info {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.8 vmin;
  align-self: flex-end;
  align-items: center;
  display: flex;
}
#app #body .view#playlist #head #info #user_img {
  height: 2.5vmin;
  width: 2.5vmin;
  border-radius: 50%;
  box-shadow: 0.5vmin 0.5vmin 2vmin 0.5vmin black;
}
#app #body .view#playlist #head #info #user {
  color: white;
}
#app #body .view#playlist #head #info #user:hover {
  color: rgb(22, 224, 107) !important;
}
#app #body .view#playlist #head #info #user:hover:active {
  color: rgb(255, 215, 0) !important;
}
#app #body .view#playlist #head #info #songs {
  color: black;
}
#app #body .view#playlist #head #info #duration {
  color: rgb(80, 80, 80);
}
#app #body .view#playlist #body {
  background: rgb(12, 12, 12);
}
#app #body .view#playlist #body div {
  color: rgb(206, 206, 206);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app #body .view#playlist #body #space {
  height: 6vmin;
  width: auto;
  display: grid;
  grid-template: 100%/1.5fr 2fr 9fr 9fr 9fr 2fr 2fr 2fr;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0vmin 4vmin 0vmin 4vmin;
  padding-top: 1vmin;
}
#app #body .view#playlist #body #space #play, #app #body .view#playlist #body #space #pause {
  grid-row: 1/2;
  grid-column: 1/3;
  color: white;
  margin-left: 5%;
  transition: 0.2s ease;
}
#app #body .view#playlist #body #space #play:hover, #app #body .view#playlist #body #space #pause:hover {
  color: rgb(22, 224, 107) !important;
}
#app #body .view#playlist #body #space #play:hover:active, #app #body .view#playlist #body #space #pause:hover:active {
  color: rgb(255, 215, 0) !important;
}
#app #body .view#playlist #body #space .hidden {
  height: 0;
}
#app #body .view#playlist #body #space #delete {
  grid-row: 1/2;
  grid-column: 6/8;
  height: 60%;
  justify-self: flex-end;
  color: rgba(255, 255, 255, 0.3);
}
#app #body .view#playlist #body #space #delete:hover {
  color: rgb(128, 37, 37) !important;
}
#app #body .view#playlist #body #space #delete:hover:active {
  color: rgb(255, 0, 0) !important;
}
#app #body .view#playlist #body #space:hover #delete {
  color: rgb(255, 255, 255);
}
#app #body .view#playlist #body #table {
  width: 100%;
  display: block;
}
#app #body .view#playlist #body #table .row {
  height: 5.5vmin;
  display: grid;
  grid-template: 100%/1.5fr 2fr 9fr 9fr 9fr 2fr 2fr 2fr;
  align-items: center;
  box-sizing: border-box;
  overflow: visible;
  padding-top: 2vmin;
  margin-left: 4vmin;
  margin-right: 4vmin;
}
#app #body .view#playlist #body #table .row#row-head {
  border-bottom: 0.2vmin solid rgb(80, 80, 80);
  padding-top: 0 !important;
}
#app #body .view#playlist #body #table .row#row-head :first-child {
  justify-self: center;
}
#app #body .view#playlist #body #table .row#row-head div {
  color: rgb(22, 224, 107) !important;
  font-family: "CircularStd Light";
  font-size: 1.6vmin;
}
#app #body .view#playlist #body #table .row#row-head #title {
  grid-column: 2/4;
}
#app #body .view#playlist #body #table .row .icon {
  opacity: 0;
  height: 75%;
  max-height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  overflow: visible !important;
  align-self: center;
  justify-self: center;
  transition: scale 0.5s ease-out;
  color: white;
}
#app #body .view#playlist #body #table .row .front {
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;
  height: 100%;
  width: auto;
}
#app #body .view#playlist #body #table .row .front > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#app #body .view#playlist #body #table .row .front .counter {
  opacity: 1;
}
#app #body .view#playlist #body #table .row .front .icon {
  color: white;
}
#app #body .view#playlist #body #table .row .front:hover .icon {
  color: rgb(22, 224, 107) !important;
}
#app #body .view#playlist #body #table .row .heart {
  grid-column: 6/7;
}
#app #body .view#playlist #body #table .row .trash {
  opacity: 0;
  color: rgb(80, 80, 80);
}
#app #body .view#playlist #body #table .row .trash:hover {
  color: rgb(128, 37, 37) !important;
}
#app #body .view#playlist #body #table .row .time {
  justify-self: flex-end;
}
#app #body .view#playlist #body #table .row:not(.active):hover .front .counter {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row:not(.active):hover .front .empty {
  opacity: 1;
}
#app #body .view#playlist #body #table .row:not(.active):hover .front:hover .empty {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row:not(.active):hover .front:hover .full {
  opacity: 1 !important;
}
#app #body .view#playlist #body #table .row:not(.active):hover .trash {
  opacity: 1 !important;
}
#app #body .view#playlist #body #table .row.active div {
  color: rgb(22, 224, 107);
}
#app #body .view#playlist #body #table .row.active .front .counter {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active .front .icon.full, #app #body .view#playlist #body #table .row.active .front .icon.empty {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active .front .icon.sound {
  pointer-events: none;
  color: rgb(22, 224, 107);
  opacity: 1;
}
#app #body .view#playlist #body #table .row.active .front:hover .icon.sound {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active:not(.paused):hover .front .sound {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active:not(.paused):hover .front .pause {
  opacity: 1 !important;
}
#app #body .view#playlist #body #table .row.active.paused .front .sound {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active.paused .front .counter {
  opacity: 1 !important;
}
#app #body .view#playlist #body #table .row.active.paused:hover .front .counter {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active.paused:hover .front .sound {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active.paused:hover .front .empty {
  opacity: 1 !important;
  color: rgb(22, 224, 107) !important;
}
#app #body .view#playlist #body #table .row.active.paused:hover .front:hover .empty {
  opacity: 0 !important;
}
#app #body .view#playlist #body #table .row.active.paused:hover .front:hover .full {
  opacity: 1 !important;
}
#app #body .view#playlist #body #table .row.active:hover .trash {
  opacity: 1 !important;
}
#app #body .view#profile {
  background-color: rgb(12, 12, 12);
  overflow-x: hidden;
  overflow-y: auto;
}
#app #body .view#profile > * {
  margin: 2vmin 2vmin 0 2vmin;
  display: block;
}
#app #body .view#profile #head {
  height: 25vmin;
  display: grid;
  grid-template: minmax(0, 1fr) auto minmax(0, 1fr)/auto minmax(0, 2fr);
  grid-column-gap: 2vmin;
  margin: 0;
  padding: 2vmin;
  background: linear-gradient(0deg, rgb(22, 224, 107) -100%, #000 100%);
  border-bottom: 0.4vmin double rgb(80, 80, 80);
}
#app #body .view#profile #head img, #app #body .view#profile #head #edit {
  grid-row: 1/4;
  grid-column: 1/2;
  border-radius: 50%;
  width: 25vmin;
  height: 25vmin;
  align-self: center;
}
#app #body .view#profile #head #edit {
  color: white;
  background-color: rgba(30, 30, 30, 0.75);
  visibility: hidden;
}
#app #body .view#profile #head #edit svg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#app #body .view#profile #head:hover #edit {
  visibility: visible !important;
}
#app #body .view#profile #head div {
  color: white;
}
#app #body .view#profile #head #profile {
  align-self: flex-end;
  font-size: 1.5vmin;
}
#app #body .view#profile #head #username {
  align-self: center;
  font-size: 5vw;
}
#app #body .view#profile #head #other {
  align-self: flex-end;
  font-size: 1.5vmin;
}
#app #body .view#profile #dots {
  color: white;
  height: 4vmin;
  aspect-ratio: 1/1;
}
#app #body .view#profile h1 {
  font-size: 3vmin;
  color: white;
}
#app #body .view#profile .block {
  height: 25vmin;
  display: grid;
  grid-template-rows: minmax(0, 100%);
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  overflow-x: auto;
  overflow-y: hidden;
}
#app #body .view#profile .block > * {
  width: 20vmin;
  height: 90%;
  margin: 1vmin;
  background-color: rgb(40, 40, 40);
  border-radius: 1vmin;
  color: white;
  transition: 0.2s ease;
}
#app #body .view#profile .block > *:hover {
  filter: contrast(1.2);
  width: 22vmin;
}
#app #body .view#profile .block > * * {
  color: white;
}
#app #body .view#profile .block > * *:hover {
  color: rgb(22, 224, 107) !important;
  font-weight: 900;
}
#app #body .view#profile #public_playlists #playlist {
  display: grid;
  grid-template: minmax(0, 1fr) auto/minmax(0, 100%);
  justify-items: center;
}
#app #body .view#profile #public_playlists #playlist img {
  padding: 1vmin;
  box-sizing: border-box;
  border-radius: 1.5vmin;
}
#app #body .view#profile #public_playlists #playlist #playlist_name {
  padding: 0 0 1vmin 0;
}
#app #body .view#search {
  background-color: rgb(12, 12, 12);
  display: grid;
  grid-template: auto auto minmax(0, 1fr)/100%;
  overflow: hidden !important;
}
#app #body .view#search > * {
  margin: 2vmin 2vmin 0 2vmin;
  display: block;
}
#app #body .view#search #search_bar {
  display: grid;
  height: 3.5vmin;
  width: 25%;
  grid-template: 100%/minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr);
  justify-items: center;
  align-items: center;
  border-radius: 3vmin;
  background-color: white;
}
#app #body .view#search #search_bar .icon {
  aspect-ratio: 1/1;
  height: 80%;
  overflow: visible;
  color: rgb(12, 12, 12);
}
#app #body .view#search #search_bar input {
  background-color: white;
  width: 100%;
  height: 75%;
  outline: none;
  text-align: center;
  font-size: 2.2vmin;
}
#app #body .view#search #search_bar input::placeholder {
  color: rgb(80, 80, 80);
}
#app #body .view#search #search_categories {
  display: flex;
  height: 3.5vmin;
}
#app #body .view#search #search_categories .category {
  width: fit-content;
  height: 100%;
  margin: 0 2vmin 0 0;
  border-radius: 3vmin;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vmin 0 2vmin;
  transition: 0.3s ease;
  box-sizing: border-box;
}
#app #body .view#search #search_categories .category.active {
  background-color: rgb(22, 224, 107);
  color: white;
  padding: 0 3vmin 0 3vmin;
}
#app #body .view#search #search_categories .category:not(.active):hover {
  background-color: rgb(80, 80, 80);
}
#app #body .view#search #results {
  overflow: hidden !important;
  height: 100%;
}
#app #body .view#search #results .block_view {
  overflow: hidden !important;
  height: 100%;
}
#app #body .view#search #results #songs #empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vmin;
  color: white;
  display: flex;
  white-space: nowrap;
}
#app #body .view#search #results #songs #empty #sad {
  color: white;
  height: 2.5vmin;
  width: 2.5vmin;
}
#app #body .view#search #results #songs #head {
  border-bottom: 0.2vmin solid rgb(22, 224, 107);
}
#app #body .view#search #results #songs #head div, #app #body .view#search #results #songs #head svg {
  color: white;
}
#app #body .view#search #results #songs #head #title {
  grid-row: 1/2;
  grid-column: 2/4;
}
#app #body .view#search #results #songs #body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#app #body .view#search #results #songs #body .row div, #app #body .view#search #results #songs #body .row svg {
  color: white;
}
#app #body .view#search #results #songs #body .row #play, #app #body .view#search #results #songs #body .row #pause {
  visibility: hidden;
  margin-right: -7.5%;
}
#app #body .view#search #results #songs #body .row img {
  height: 100%;
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
}
#app #body .view#search #results #songs #body .row #full_heart, #app #body .view#search #results #songs #body .row #empty_heart {
  grid-row: 1/2;
  grid-column: 6/7;
  height: 50%;
  visibility: hidden;
}
#app #body .view#search #results #songs #body .row .icon:hover {
  color: rgb(22, 224, 107) !important;
}
#app #body .view#search #results #songs #body .row.active:not(.paused) div, #app #body .view#search #results #songs #body .row.active:not(.paused) svg {
  color: rgb(22, 224, 107) !important;
}
#app #body .view#search #results #songs #body .row.active:not(.paused) #counter {
  visibility: hidden !important;
}
#app #body .view#search #results #songs #body .row.active:not(.paused) #pause {
  visibility: visible !important;
}
#app #body .view#search #results #songs #body .row.active.paused div, #app #body .view#search #results #songs #body .row.active.paused svg {
  color: rgb(22, 224, 107) !important;
}
#app #body .view#search #results #songs #body .row.active.paused #counter {
  visibility: hidden !important;
}
#app #body .view#search #results #songs #body .row.active.paused #play {
  visibility: visible !important;
}
#app #body .view#search #results #songs #body .row:hover #counter {
  visibility: hidden !important;
}
#app #body .view#search #results #songs #body .row:hover #play {
  visibility: visible !important;
}
#app #body .view#search #results #songs #body .row:hover #empty_heart {
  visibility: visible !important;
}
#app #body .view#search #results #songs #body .row:hover.active.paused #pause:not(.paused) {
  visibility: hidden !important;
}
#app #body .view#search #results #songs #body .row:hover.active.paused #play:not(.paused) {
  visibility: visible !important;
}
#app #body .view#search #results #songs #body .row:hover.active:not(.paused) #pause:not(.paused) {
  visibility: visible !important;
}
#app #body .view#search #results #songs #body .row:hover.active:not(.paused) #play:not(.paused) {
  visibility: hidden !important;
}
#app #body .view#search #results #songs .row {
  width: 100%;
  height: 4vmin;
  display: grid;
  grid-template: 100%/minmax(0, 1.5fr)minmax(0, 2fr)minmax(0, 9fr)minmax(0, 9fr)minmax(0, 9fr)minmax(0, 2fr)minmax(0, 2fr);
  justify-items: flex-start;
  align-items: center;
  margin: 0 0 1vmin 0;
  gap: 1vmin;
}
#app #body .view#search #results #songs .row #counter, #app #body .view#search #results #songs .row #play, #app #body .view#search #results #songs .row #pause {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
}
#app #body .view#search #results #songs .row svg {
  justify-self: center;
  height: 65%;
}
#app #body .view#search #results #songs .row #time {
  justify-self: center;
}
#app #player {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(0, 5%) auto minmax(0, 1fr) minmax(0, 50%) minmax(0, 20%) minmax(0, 5%);
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr) minmax(0, 2fr);
  z-index: 2;
  color: white;
}
#app #player * {
  z-index: 2;
}
#app #player #progress {
  grid-column: 1/7;
  grid-row: 1/2;
  width: 100%;
  justify-self: center;
  height: 100%;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 0 1vmin 0.1vmin #424242;
  transition: 0.2s ease;
}
#app #player #progress:hover #handle {
  background-color: rgb(22, 224, 107);
  visibility: visible;
  transform: scale(2);
  transform-origin: center;
}
#app #player #progress:hover #range {
  background-color: white;
}
#app #player #progress:active #handle {
  background-color: white;
  visibility: visible;
  transform: scale(2);
  transform-origin: center;
}
#app #player #progress #handle {
  width: 0.8vh;
  height: 0.8vh;
  min-height: 0.8vh;
  min-width: 0.8vh;
  border-radius: 50%;
  margin-right: -0.4vh;
  transition: 0.2s ease;
  visibility: hidden;
}
#app #player #progress #range {
  background-color: rgb(22, 224, 107);
  min-width: 0;
  max-width: 100%;
  width: 0%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.4s ease-out;
  border-top-right-radius: 100vmax;
  border-bottom-right-radius: 100vmax;
}
#app #player #progress #range.moving {
  transition: none !important;
  transition-delay: 0s !important;
  background-color: rgb(255, 215, 0);
}
#app #player #current_time, #app #player #total_time {
  color: white;
  font-size: 1.4vmin;
  align-self: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}
#app #player #total_time {
  grid-column: 6/7;
  grid-row: 2/3;
  justify-self: flex-end;
}
#app #player #current_time {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: flex-start;
}
#app #player .block {
  grid-column: 4/5;
  grid-row: 3/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app #player .center {
  padding-left: 1.6vw;
  padding-right: 1.6vw;
}
#app #player .icon {
  color: rgb(80, 80, 80);
  height: 80%;
  width: auto;
  max-width: 75%;
}
#app #player .icon:hover {
  color: rgb(22, 224, 107) !important;
  transform: scale(1.2);
  transform-origin: center;
}
#app #player .icon.left_icon {
  height: 80%;
  width: auto;
  color: rgb(80, 80, 80);
  overflow: visible;
  justify-self: center;
  align-self: center;
}
#app #player .icon.left_icon:hover {
  scale: 1.1;
}
#app #player .icon#full_heart, #app #player .icon#empty_heart {
  grid-column: 1/2;
  grid-row: 3/4;
}
#app #player .icon#full_heart {
  color: rgb(22, 224, 107) !important;
}
#app #player .icon#add_to_playlist {
  grid-column: 1/2;
  grid-row: 4/5;
}
#app #player .icon#shuffle {
  height: 50% !important;
}
#app #player .icon#repeat {
  height: 55% !important;
}
#app #player #title {
  grid-column: 3/4;
  grid-row: 3/4;
  padding-left: 1vh;
  font-family: "CircularStd Bold";
  font-weight: 900;
  font-size: 2vmin;
  align-self: center;
}
#app #player #artist {
  grid-column: 3/4;
  grid-row: 4/5;
  padding-left: 1vh;
  font-size: 1.8vmin;
  color: rgb(206, 206, 206);
  align-self: center;
}
#app #player #mini_picture {
  grid-column: 2/3;
  grid-row: 3/5;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  width: 6.6666666667vmin;
  aspect-ratio: 1/1;
  justify-self: flex-start;
  align-self: center;
}
#app #player #mini_picture img {
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
}
#app #player #mini_picture.close {
  border: none;
  height: 0;
  width: 0;
}
#app #player #mini_picture.close img {
  height: 0;
  width: 0;
}
#app #player #mini_picture:hover #open {
  visibility: visible;
}
#app #player #mini_picture #open {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 35%;
  width: 35%;
  visibility: hidden;
  transform: rotate(180deg);
}
#app #player #mini_picture #open:hover {
  transform: scale(1.2) rotate(180deg);
}
#app #player #volume {
  grid-column: 5/6;
  grid-row: 3/5;
  align-self: center;
  width: 50%;
  height: 8%;
  position: relative;
  background-color: rgb(80, 80, 80);
  border-radius: 100vmax;
  transition: 0.2s ease;
}
#app #player #volume:hover #handle {
  background-color: rgb(22, 224, 107);
  visibility: visible;
  transform: scale(2);
  transform-origin: center;
}
#app #player #volume:hover #range {
  background-color: white;
}
#app #player #volume:active #handle {
  background-color: white;
  visibility: visible;
  transform: scale(2);
  transform-origin: center;
}
#app #player #volume #handle {
  width: 0.5333333333vh;
  height: 0.5333333333vh;
  min-height: 0.5333333333vh;
  min-width: 0.5333333333vh;
  border-radius: 50%;
  margin-right: -0.4vh;
  transition: 0.2s ease;
  visibility: hidden;
}
#app #player #volume #range {
  background-color: rgb(22, 224, 107);
  min-width: 0;
  max-width: 100%;
  width: 0%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.4s ease-out;
  border-radius: 100vmax;
}
#app #player #volume #range.moving {
  transition: none !important;
  transition-delay: 0s !important;
  background-color: rgb(255, 215, 0);
}
#app #player #volume #number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 1.6vmin;
}
#app #player #volume .icon {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(180deg);
  margin-left: 0.2vmin;
  color: white;
  height: 3vmin;
  width: 3vmin;
}
#app #popup_screen {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
#app #popup_screen .popup_div {
  position: absolute;
}
#app #popup_screen .popup_div#add_to_playlist {
  aspect-ratio: 2/3;
  transform: translateY(-100%);
  height: fit-content;
  overflow: hidden;
  max-height: 20vh;
  min-height: 15vh;
  display: grid;
  grid-template: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 7fr)/minmax(0, 1fr);
  background-color: rgb(12, 12, 12);
  padding: 1.5vmin;
  margin: -1vmin 0 0 2vmin;
  border: 0.2vmin solid rgb(22, 224, 107);
  border-radius: 1vmin;
}
#app #popup_screen .popup_div#add_to_playlist input {
  width: 100%;
  height: 100%;
  background-color: rgb(80, 80, 80);
  color: rgb(12, 12, 12);
  text-align: center;
  border-radius: 0.6vmin;
  outline: none !important;
}
#app #popup_screen .popup_div#add_to_playlist input:focus {
  background-color: white;
  color: black;
}
#app #popup_screen .popup_div#add_to_playlist #select_a_playlist {
  color: rgb(80, 80, 80);
  font-size: 1.6vmin;
  text-align: center;
  justify-self: center;
  align-self: center;
  border-bottom: 0.2vmin solid rgb(80, 80, 80);
  width: 100%;
}
#app #popup_screen .popup_div#add_to_playlist .block {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 0.2vmin solid rgb(80, 80, 80);
}
#app #popup_screen .popup_div#add_to_playlist .block .playlist {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  text-align: center;
}
#app #popup_screen .popup_div#add_to_playlist .block .playlist:hover {
  color: rgb(22, 224, 107);
}
#app #popup_screen #create_playlist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: minmax(0, 1fr) minmax(0, 6fr) auto minmax(0, 1fr)/minmax(0, 100%);
  height: 45vh;
  width: 35vmin;
  padding: 3vmin 4vh 3vmin 4vh;
  align-items: center;
  justify-items: center;
  background: rgb(12, 12, 12);
  border: 0.5vmin solid rgb(22, 224, 107);
  border-radius: 3vmin;
}
#app #popup_screen #create_playlist #name {
  height: 50%;
  width: 100%;
  justify-self: center;
  align-self: center;
  margin-bottom: 2vh;
}
#app #popup_screen #create_playlist #name input {
  height: 100%;
  width: 100%;
  font-size: 2.8vmin;
  text-align: center;
  color: white;
  background-color: rgb(80, 80, 80);
  border-radius: 2vmin;
}
#app #popup_screen #create_playlist #name input::placeholder {
  color: rgb(12, 12, 12);
}
#app #popup_screen #create_playlist #name input:focus {
  outline: 0.4vmin solid rgb(22, 224, 107) !important;
  background-color: black;
  color: white;
}
#app #popup_screen #create_playlist #photo {
  width: 100%;
  height: 100%;
  margin-bottom: 2vh;
}
#app #popup_screen #create_playlist #photo input[type=file] {
  display: none;
}
#app #popup_screen #create_playlist #photo label {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: minmax(0, 1fr) minmax(0, 9fr)/minmax(0, 1fr);
  align-items: center;
  justify-items: center;
}
#app #popup_screen #create_playlist #photo label #cover-photo {
  font-size: 2vmin;
  color: rgb(22, 224, 107);
}
#app #popup_screen #create_playlist #photo label #optional {
  font-size: 2vmin;
  color: rgb(80, 80, 80);
}
#app #popup_screen #create_playlist #photo label #upload {
  width: 100%;
  aspect-ratio: 1/1;
  color: rgb(80, 80, 80);
  transition: 0.1s ease-in;
}
#app #popup_screen #create_playlist #photo label #upload:hover {
  color: rgb(22, 224, 107) !important;
}
#app #popup_screen #create_playlist #uploaded_file {
  color: rgb(80, 80, 80);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.6vmin;
}
#app #popup_screen #create_playlist #uploaded_file span {
  color: rgb(22, 224, 107);
  font-size: 1.6vmin;
}
#app #popup_screen #create_playlist input[type=submit] {
  justify-self: center;
  background-color: rgb(22, 224, 107);
  border-radius: 2vmin;
  height: 70%;
  padding: 0 1vmin 0 1vmin;
  transition: 0.1s ease-in-out;
}
#app #popup_screen #create_playlist input[type=submit]:hover {
  height: 85% !important;
  font-weight: 900;
  color: white;
  background-color: rgb(255, 215, 0);
}
#app #popup_screen #edit_profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  height: fit-content;
  width: fit-content;
  background-color: #111;
  border-radius: 1vmin;
  justify-items: center;
}
#app #popup_screen #edit_profile > * {
  margin: 3vmin 3vmin 0 3vmin;
}
#app #popup_screen #edit_profile h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 2.6vmin;
  color: white;
}
#app #popup_screen #edit_profile #close {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 2vmin;
  aspect-ratio: 1/1;
  color: rgb(80, 80, 80);
  justify-self: flex-end;
  align-self: flex-start;
  margin: 1vmin;
  transition: 0.2s;
}
#app #popup_screen #edit_profile #close:hover {
  height: 2.1vmin !important;
  margin: 0.9vmin !important;
  color: #751d1d !important;
}
#app #popup_screen #edit_profile #close:active {
  height: 2vmin !important;
  margin: 1vmin !important;
  color: red !important;
}
#app #popup_screen #edit_profile label {
  height: 25vmin;
  width: 25vmin;
  display: block;
}
#app #popup_screen #edit_profile label > * {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#app #popup_screen #edit_profile label #edit {
  color: white;
  background-color: rgba(30, 30, 30, 0.75);
  visibility: hidden;
}
#app #popup_screen #edit_profile label #edit img {
  box-shadow: 0 0 5vmin 2vmin #000;
}
#app #popup_screen #edit_profile label #edit svg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#app #popup_screen #edit_profile label:hover #edit {
  visibility: visible !important;
}
#app #popup_screen #edit_profile input[type=text] {
  width: 25vmin;
  height: fit-content;
  outline: none;
  border-radius: 100vmax;
  text-align: center;
  font-size: 2.2vmin;
  box-shadow: 0 0 3vmin 1vmin #000;
}
#app #popup_screen #edit_profile input[type=text]:focus {
  outline: 0.4vmin solid rgb(22, 224, 107);
  background-color: black !important;
  color: white !important;
}
#app #popup_screen #edit_profile input[type=submit] {
  width: fit-content;
  height: fit-content;
  border-radius: 100vmax;
  font-size: 2.5vmin;
  padding: 0 1vmin 0 1vmin;
  background-color: rgb(22, 224, 107);
  margin: 3vmin;
  box-shadow: 0 0 3vmin 1vmin #000;
}
#app #popup_screen #edit_profile input[type=submit]:hover {
  background-color: rgb(255, 215, 0) !important;
}
#app img {
  position: relative;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
#app svg {
  overflow: visible;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  max-width: fit-content !important;
}
#app svg.active {
  color: rgb(22, 224, 107) !important;
}

#loading_screen {
  box-sizing: border-box;
  opacity: 0;
  z-index: 100;
  transition: 1s ease-in;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bar {
  width: 10px;
  height: 70px;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 5px 10px 20px inset var(--verde);
  animation: loader 1.2s linear infinite;
}

.bar1 {
  animation-delay: 0.1s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.3s;
}

.bar4 {
  animation-delay: 0.4s;
}

.bar5 {
  animation-delay: 0.5s;
}

.bar6 {
  animation-delay: 0.6s;
}

.bar7 {
  animation-delay: 0.7s;
}

.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: none;
  }
  50% {
    transform: scaleY(1);
    background: rgb(22, 224, 107);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
.page {
  align-items: center;
  justify-content: center;
}

.usage {
  position: absolute;
  top: 40px;
  line-height: 50px;
  z-index: 1000;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  pointer-events: none;
}