@font-face {
  font-family: "CircularStd Black";
  src: url(/static/style/fonts/CircularStd-Black.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Black Italic";
  src: url(/static/style/fonts/CircularStd-BlackItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Bold";
  src: url(/static/style/fonts/CircularStd-Bold.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Bold Italic";
  src: url(/static/style/fonts/CircularStd-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Book";
  src: url(/static/style/fonts/CircularStd-Book.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Book Italic";
  src: url(/static/style/fonts/CircularStd-BookItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Medium";
  src: url(/static/style/fonts/CircularStd-Medium.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Medium Italic";
  src: url(/static/style/fonts/CircularStd-MediumItalic.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Light";
  src: url(/static/style/fonts/CircularStd-Light.woff) format("woff");
}
@font-face {
  font-family: "CircularStd Light Italic";
  src: url(/static/style/fonts/CircularStd-LightItalic.woff) format("woff");
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 2vmin;
  font-family: "CircularStd Medium";
}

.screen {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.hide {
  display: none !important;
}

#login {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
#login ul {
  padding: 0;
  margin: 0;
  border: 0;
}
#login .main {
  width: 35vmin;
  height: 50vmin;
  background: rgb(13, 148, 53);
  overflow: hidden;
  background: #16e06a;
  border-radius: 2vmin;
  box-shadow: 1vmin 2vmin 4vmin #000;
  align-self: center;
  justify-self: center;
}
#login #chk {
  display: none;
}
#login .signup {
  position: relative;
  width: 100%;
  height: 100%;
}
#login label {
  color: black;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#login input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#login button {
  font-family: "Gantari", sans-serif;
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #16e06a;
  background: black;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
#login #login_button {
  background: #16e06a;
  color: black;
}
#login #login_button:hover {
  background: gold;
}
#login button:hover {
  background: gold;
  color: black;
}
#login .login {
  height: 460px;
  background: black;
  border-radius: 60%/10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
#login .login label {
  color: #16e06a;
  transform: scale(0.6);
}
#login #chk:checked ~ .login {
  transform: translateY(-500px);
}
#login #chk:checked ~ .login label {
  transform: scale(1);
}
#login #chk:checked ~ .signup label {
  transform: scale(0.6);
}
#login .main {
  -webkit-animation: slide-in-elliptic-top-fwd 2.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: slide-in-elliptic-top-fwd 2.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.area {
  position: absolute;
  background: radial-gradient(circle, #16e06a, #000);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#app {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) 10vh;
}
#app #menu {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: 0.4vmin #373737 double;
}
#app #menu .row {
  display: grid;
  grid-template-columns: 4vmin 1fr;
  grid-template-rows: 4vmin;
  align-items: center;
  justify-items: flex-start;
  gap: 1.5vmin;
  padding-left: 2vmin;
  padding-right: 4vmin;
  padding-top: 2vmin;
  color: #373737;
  font-size: 2.2vmin;
}
#app #menu .row svg {
  height: 100%;
  width: auto;
  color: #373737;
}
#app #menu .row.active {
  color: rgb(22, 224, 107);
}
#app #menu .row.active svg {
  color: rgb(22, 224, 107);
}
#app #body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  overflow: auto;
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: linear-gradient(225deg, hsl(0deg, 0%, 0%) 0%, hsl(143deg, 22%, 31%) 29%, hsl(143deg, 57%, 49%) 43%, hsl(143deg, 57%, 49%) 57%, hsl(143deg, 22%, 31%) 71%, hsl(0deg, 0%, 0%) 100%);
}
#app #body #view {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
}
#app #player {
  display: grid;
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 2/3;
  border-top: 0.4vmin #373737 double;
}
#app img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#loading_screen {
  box-sizing: border-box;
  opacity: 0;
  z-index: 10;
  transition: opacity 1s ease;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 5px 10px 20px inset var(--verde);
  animation: loader 1.2s linear infinite;
}

.bar1 {
  animation-delay: 0.1s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.3s;
}

.bar4 {
  animation-delay: 0.4s;
}

.bar5 {
  animation-delay: 0.5s;
}

.bar6 {
  animation-delay: 0.6s;
}

.bar7 {
  animation-delay: 0.7s;
}

.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: none;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
.page {
  align-items: center;
  justify-content: center;
}

.usage {
  position: absolute;
  top: 40px;
  line-height: 50px;
  z-index: 1000;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  pointer-events: none;
}