{% load static %}


{% comment %}___________________________________MENIUL PRINCIPAL DE PE STANGA___________________________________{% endcomment %}
<div id="menu">
  {{ main_menu_pre_render }}
</div>


{% comment %}___________________________________PAGINA PRINCIPALA DE CONTINUT___________________________________{% endcomment %}
<div id="body">
    <div class="view hide" id="home"></div>
    <div class="view hide" id="profile"></div>
    <div class="view hide" id="liked"> </div>
    <div class="view hide" id="playlist"></div>
    <div class="view hide" id="search"></div>
</div>

{% comment %}___________________________________MENU FOR BASIC OPTIONS___________________________________{% endcomment %}
<div id="options">
    <img src="" alt="">
    <div id="user"></div>
    <svg class="icon" id="down" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"> <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/> </svg>
    <svg class="icon" id="up" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16"> <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/> </svg>
    
    <div id="options_menu">
        <div id="profile">Profile</div>
        <div id="logout">Log out</div>
    </div>
</div>

{% comment %}_________________________________PLAYERUL IN SINE_____________________________ {% endcomment %}
<div id="player">
  {% include 'app/player.html' %}
</div>

{% comment %}_________________________________UN DIV PENTRU FORMULARE_____________________________ {% endcomment %}
<div class="screen hide" id="form_screen"></div>

{% comment %}_________________________________UN DIV PENTRU POPUP MENU_____________________________ {% endcomment %}
<div class="screen hide" id="popup_menu"></div>

{% comment %}_________________________________UN DIV PENTRU POPUP SCREEN_____________________________ {% endcomment %}
<div class="screen hide" id="popup_screen"></div>

{% comment %}_________________________________SCRIPTURI SI TRESTII_____________________________ {% endcomment %}
{{musics_list|json_script:'musics_list'}}
{{url_patterns|json_script:'url_patterns'}}
{{playlist_list|json_script:'playlist_list'}}
{{main_playlist_id|json_script:'main_playlist_id'}}
{{profile_id|json_script:'profile_id'}}

    