{% load static %}

  {% comment %} ______________________________________DISPLAY-UL APLICATIEI, ESTE RESTUL ECRANULUI MAI PUTIN PLAYERUL________ {% endcomment %}
  <div id="main_display">

    {% comment %}___________________________________UN LOC DE AFISAT NOTIFICARI / MESAJE___________________________________{% endcomment %}
    {% comment %} {% for message in messages %}  
            <li>{{ message }}</li>  
    {% endfor %}  {% endcomment %}


    {% comment %}___________________________________MENIUL PRINCIPAL DE PE STANGA___________________________________{% endcomment %}
    {% if main_menu_pre_render %}
      <div id="main_menu">
        {{ main_menu_pre_render }}
      </div>
    {% else %}
      <div id="main_menu">
        {% include 'main_menu_content.html' %}
      </div>
    {% endif %}

    {% comment %}___________________________________PAGINA PRINCIPALA DE CONTINUT___________________________________{% endcomment %}
    <div id="main_page">
      {% include 'main_page_content.html' %}
    </div>

  </div>



  {% comment %}_________________________________PLAYERUL IN SINE_____________________________ {% endcomment %}
  <div id="audio_player_container">
    {% include 'player_content.html' %}
  </div>



  {% comment %}_________________________________SCRIPTURI SI TRESTII_____________________________ {% endcomment %}
  {{musics_list|json_script:'musics_list'}}
  {{url_patterns|json_script:'url_patterns'}}
  {{playlist_list|json_script:'playlist_list'}}
  {{main_playlist_id|json_script:'main_playlist_id'}}
  {{current_user|json_script:'current_user'}}

    