<body>
<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #105469;
    font-family: 'Open Sans', sans-serif;
  }
  table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
  }
  td {
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }
  span{
    color: orange;
  }
</style>
{% for message in messages %}  
        <li>{{ message }}</li>  
{% endfor %} 
<div>
  <table>
    <tr>
      <th>ID</th> 
      <th>TITLE</th>
      <th>ARTISTE</th>
      <th>ALBUM</th>
      <th>TIME LENGHT</th>
      <th>AUDIO FILE</th>
      <th>EDIT</th>
    </tr>
    
{% for music in musics_list %}
<tr>
  <td>{{music.id}}</td> 
  <td>{{music.title}}</td>
  <td>{{music.artiste}}</td>
  <td>{{music.album.name}}</td>
  <td>{{music.time_length}}</td>
  <td>{{music.audio_file}}</td>
  <td><button onclick="window.location.href='manage/{{music.id}}';">edit</button></td>
</tr>



{% endfor %}
</table>
</div>

<button onclick="window.location.href='{% url 'musics:add_music' %}';">
  Add Songs
</button>


<h4> You are logged in as <span>{{ request.user }}</span></h4>
<button onclick="window.location.href='{% url 'musics:logout_user' %}';">
  Logout
</button>

{% if request.user.is_staff %}
<button onclick="window.location.href='{{'admin' }}';">
  ADMIN INTERFACE
</button>
{% endif %}


<button class="playing">PLAY</button>

<audio class="audio-player" src="/media/musics/circulation_Gcj56uE.mp3" type="audio/mpeg"  >
Your browser does not support the audio element.
</audio>
<div class="song-title"></div>
<div class="artist"></div>
<div class="music_img"></div>
<div class="album"></div>
</body>

{{musics_list|json_script:'musics_list'}}
<script>
  const player=document.querySelector('.audio-player')
  const play=document.querySelector('.playing')
  const prev=document.querySelector('.prev')
  const next=document.querySelector('.next')
  const currentTime=document.querySelector('.currentDuration')
  const duration=document.querySelector('.Duration')
  const progress=document.querySelector('.progress')
  const progress_container=document.querySelector('.progress_container')
  const audio_tracks=document.querySelector('.audio-tracks')
  const song_title=document.querySelector('.song-title')
  const artist=document.querySelector('.artist')
  const album=document.querySelector('.album')
  const music_img=document.querySelector('.music_img')

  let musicIndex=0

  const musics=JSON.parse(document.getElementById('musics_list').textContent)

// functions
// format time for music
const formatTime=secs=>{
  let min = Math.floor((secs % 3600) / 60); 
  let sec = Math.floor(secs % 60)
  if (sec<10){
    sec=`0${sec}`
  }

  return `${min}:${sec}`
}

// loading a set detail of music in UI
const setSRC=()=>{
  player.src=`/media/${musics[musicIndex].audio_file}`
  song_title.textContent=musics[musicIndex].title
  artist.textContent=musics[musicIndex].artiste 
  music_img.setAttribute('src',`media/${musics[musicIndex].cover_image}`)
  if (musics[musicIndex].album_id !== null){
    album.textContent=musics[musicIndex].album_id
  }else{
    album.textContent='Single'

  }

}

//determine player should play or not 
const playOrPause=()=>{
  if (player.paused){
      player.play()
      
    }

    else{
      player.pause()

    }
}

// load first music
setSRC()
player.pause()

// eventlisteners
// when play btn is clicked
play.addEventListener("click",e=>{

  playOrPause()
})




</script>
