{% load static %}

<div class="categories">
    <div class="rand" id="profile_button" ><img src="{% static 'musics/menu_icons/puncte.png' %}"></div>
    <div class="rand" id="home_page_button"><img src="{% static 'musics/menu_icons/home.png' %}">Home</div>
    <div class="rand" id=""><img src="{% static 'musics/menu_icons/search.png' %}">Search</div>
    <div class="rand" id=""><img src="{% static 'musics/menu_icons/library.png' %}">Your Library</div>
    <br>
    <div class="rand" id=""><img src="{% static 'musics/menu_icons/add_playlist.png' %}">Create Playlist</div>
    <div class="rand" id="liked_songs_page"><img src="{% static 'musics/menu_icons/liked_songs.png' %}">Liked Songs</div>
</div>
<hr>

<div class="playlists">
    <ul style="list-style: none;">
        {% for id,playlist in playlist_list.items %}
        <li class="menu_playlist" value="{{id}}" >{{playlist.name}} ({{playlist.songs_count}})</li>
        {% endfor %}
    </ul>

</div>