{% load static %}

<div class="categories">
    <div class="rand"><img src="{% static 'musics/menu_icons/puncte.png' %}"></div>
    <div class="rand"><img src="{% static 'musics/menu_icons/home.png' %}">Home</div>
    <div class="rand"><img src="{% static 'musics/menu_icons/search.png' %}">Search</div>
    <div class="rand"><img src="{% static 'musics/menu_icons/library.png' %}">Your Library</div>
    <br>
    <div class="rand"><img src="{% static 'musics/menu_icons/add_playlist.png' %}">Create Playlist</div>
    <div class="rand"><img src="{% static 'musics/menu_icons/liked_songs.png' %}">Liked Songs</div>
</div>
<hr>

<div class="playlists">
    <ul style="list-style: none;">
        <li>5</li>
        <li>giovanni2266</li>
        <li>Psytrance 2022</li>
        <li>Techno Chill</li>
        <li>Techno Rave</li>
        <li>Moretin|Releases</li>
        <li>EBSM/Dark Electro</li>
        <li>ACID TCHNO 2022</li>
        <li>Night Rider</li>
        <li>FUTURE HOUSE</li>
    </ul>

</div>