
{% comment %} 
    se foloseste pre_render cand aceasta pagina nu este generata de view-ul ei 
    de exemplu in view-ul main generam continutul home_page-ului in interiorul ei pentru a returna o pagina la inceput

    daca pre_render nu exista inseamnca ca acest template se apeleaza din view-ul paginii in sine 
    (view-ul paginii in sine se va folosi pe parcursul sesiunii in mod repetat , dar la inceput am folosito in main_view pentru a veni la pachet)
{% endcomment %}

<div class="main_page_views" id="home_page">
    {% if home_pre_render %}
        {{ home_pre_render }}
    {% else %}
        <div class="main_page_views" id="home_page">
            {% include 'main_page/home_page.html' %}
        </div>
    {% endif %}
</div>

<div class="main_page_views" id="profile_page">
    {% include 'main_page/profile_page.html' %}
</div>



<div class="main_page_views" id="liked_page"> 

</div>

<div class="main_page_views" id="playlist_page"> 
    
</div>