{% comment %} acest temlate va fi folsot doar cand pornim prima data siteul {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html class="screen">
    <head id="head">
        <title>Gionify</title>
        <base href="https://giovanni2266.pythonanywhere.com/" target="_blank">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

        <script src="https://code.jquery.com/jquery-3.6.1.js" type="text/javascript"></script>

        
        {% comment %} <script defer src="{% static 'musics/main/script/core.js' %}" type="text/javascript"></script> {% endcomment %}
        
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <script>
            const csrftoken = "{{ csrf_token }}"
        </script>
    </head>
    <body class="screen" >
        <div class="screen hide" id="loading_screen"> <div class="middle"> <div class="bar bar1"></div> <div class="bar bar2"></div> <div class="bar bar3"></div> <div class="bar bar4"></div> <div class="bar bar5"></div> <div class="bar bar6"></div> <div class="bar bar7"></div> <div class="bar bar8"></div> </div> </div>
        
        <div id="login" class="screen hide"></div>
        <div id="app" class="screen hide"></div>
        <script src="{% static 'script/output.js' %}" type="text/javascript"></script>
        {% if user.is_authenticated %}
            <script>window.app.switch();</script>
        {% else %}
            <script>window.login.switch();</script>
        {% endif %}
    </body>
</html>